@{
    ViewData["Title"] = "Pizzeria";
    //Layout = "Shared/_Layout.cshtml";
}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La mia pizzeria</title>
        <style>rel="stylesheet" href="~/css/site.css"</style>
    </head>

<body>
    <div class="container">
        <h1>Pizzeria</h1>
        <table class="table">
            <tr>
                <th>Nome Pizza</th>
                <th>Immagine</th>
                <th>Ingredienti</th>
                <th>Prezzo</th>
            </tr>
            <tr>
                <td>Margherita</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, Mozzarella, Basilico</td>
                <td>€7.00</td>
            </tr>
            <tr>
                <td>Marinara</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, Aglio, Origano</td>
                <td>€6.00</td>
            </tr>
            <tr>
                <td>Quattro Stagioni</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, Mozzarella, Funghi, Prosciutto Cotto, Carciofi, Olive</td>
                <td>€9.00</td>
            </tr>
            <tr>
                <td>Capricciosa</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, Mozzarella, Funghi, Prosciutto Cotto, Carciofi, Olive, Capperi</td>
                <td>€9.50</td>
            </tr>
            <tr>
                <td>Diavola</td>
                <td><img src="https://picsum.photos/100" alt=""></td>
                <td>Pomodoro, Mozzarella, Salame Piccante</td>
                <td>€8.00</td>
            </tr>
        </table>
    </div>

    </body>
</html>

